# {{ ansible_managed }}
[Unit]
Description=CTFd (gunicorn)
After=network.target mariadb.service redis-server.service
Requires=mariadb.service redis-server.service

[Service]
User=ctfd
Group=ctfd
WorkingDirectory={{ ctfd_dir }}
ExecStart={{ ctfd_dir }}/.venv/bin/gunicorn "CTFd:create_app()" --bind 127.0.0.1:8000 --workers 1 --worker-class gevent --worker-tmp-dir /dev/shm --access-logfile /var/log/ctfd/access.log --error-logfile /var/log/ctfd/error.log
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
