SECRET_KEY={{ ctfd_secret_key }}
DATABASE_URL=mysql+pymysql://ctfd:{{ ctfd_db_password }}@localhost/ctfd
REDIS_URL=redis://localhost:6379
UPLOAD_FOLDER=/var/lib/ctfd/uploads
LOG_FOLDER=/var/log/ctfd
REVERSE_PROXY=true
TRUSTED_HOSTS={{ ctf_vm_tailnet_ip }},{{ ctfd_domain }},127.0.0.1,127.0.0.1:8000,localhost
