# {{ ansible_managed }}
Include /etc/ssh/sshd_config.d/*.conf
Port 22
LogLevel INFO
AllowUsers {{ ssh_allowed_users | join(' ') }}
AllowGroups _ssh
LoginGraceTime 60
PermitRootLogin no
MaxAuthTries 3
MaxSessions 5
PubkeyAuthentication yes
AuthorizedKeysFile	.ssh/authorized_keys .ssh/authorized_keys2
PasswordAuthentication no
PermitEmptyPasswords no
KbdInteractiveAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no
ClientAliveInterval 300
ClientAliveCountMax 0
Banner /etc/issue.net
AcceptEnv LANG LC_* COLORTERM NO_COLOR
Subsystem	sftp	/usr/lib/openssh/sftp-server

