# Environnements et secrets
.env
.env.*
**/*.env
!**/.env.example

# Caches / builds courants
__pycache__/
*.py[cod]
node_modules/
dist/
build/
.next/
.turbo/

# Docker
*.pid
*.pid.lock
docker-data/
*.tar

# OS / éditeurs
.DS_Store
Thumbs.db
.vscode/
.idea/


# Scripts de génération (local uniquement)
docs/generate_diagram.py
