# {{ ansible_managed }}
# Les chaînes NETBIRD-* sont ajoutées par le démon netbird à son démarrage.
*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -i lo -j ACCEPT
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -i {{ vm_admin_iface }} -p tcp -m tcp --dport 22 -j ACCEPT
-A INPUT -i {{ vm_admin_iface }} -p tcp -m tcp --dport 80 -j ACCEPT
-A INPUT -i {{ vm_admin_iface }} -p tcp -m tcp --dport 443 -j ACCEPT
# WireGuard de NetBird
-A INPUT -p udp -m udp --dport 51820 -j ACCEPT
-A INPUT -p icmp -j ACCEPT
COMMIT
